:root {
  --main-bg-color: black;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  font-family: 'Patrick Hand';
}

label {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.limits {
  max-width: 1000px;
  /* background-color: darkslategrey; */
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.drawing--window {
  max-width: 700px;
  max-height: 700px;
  width: 60vw;
  height: 60vw;
  background-color: rgb(117, 65, 65);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px black;
}

.manipulation--window {
  width: 25vw;
  height: 60vw;
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0% 1% 0%;
  font-size: 1.3rem;
}

.manipulation--window > div {
  text-align: center;
  width: 80%;
}

.manipulation--window label,
input {
  text-align: center;
  width: 80%;
}

button {
  margin-top: 5%;
  font-family: 'Patrick Hand';
  padding: 2%;
}

button:hover {
  background-color: blueviolet;
}

.form-row:first-of-type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-row {
  margin-bottom: 10%;
}

.form-row > div {
  background-color: beige;
  margin: 0 auto;
}

.form-row div:hover {
  background-color: blueviolet;
}

.yellow {
  background-color: rgb(233, 214, 107) !important;
}

.red-gold {
  background-color: rgb(230, 130, 70) !important;
}

.carmine {
  background-color: rgb(150, 0, 24) !important;
}

.ultramarine {
  background-color: rgb(65, 102, 245) !important;
}

.phthalo {
  background-color: rgb(18, 53, 36) !important;
}

.sienna {
  background-color: rgb(226, 74, 29) !important;
}

.color-row {
  max-height: 210px;
  height: 30%;
}

.color-name:hover {
  background-color: beige !important;
}

.colors {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.color-name {
  height: 20%;
  min-height: 24px;
}

.color {
  flex-grow: 1;
  border: none !important;
}

.pressed {
  background-color: blueviolet !important;
}

.black {
  background-color: black !important;
}

.white {
  background-color: white !important;
}

.rainbow {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

@media only screen and (max-width: 700px) {
  .drawing--window {
    width: 70vw;
    height: 70vw;
  }
  .manipulation--window {
    width: 30vw;
  }
  .limits {
    flex-direction: column;
    margin: 25px;
  }
  .color-row {
    margin-bottom: 30%;
  }
  .manipulation--window {
    margin-top: 25px;
  }
}
